@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Estilos para pantallas grandes (por ejemplo, monitores de escritorio) */
@media only screen and (min-width: 1200px) {
  #titulo {
    font-size: 100px;
  }
  #text-behind, #text-front, #text-behind-blur {
    font-size: 140px;
  }
  #btn {
    margin: 100px;
  }
}

/* Estilos para pantallas medianas (por ejemplo, laptops) */
@media only screen and (max-width: 1199px) {
  #titulo {
    font-size: 50px;
  }
  #text-behind, #text-front, #text-behind-blur {
    font-size: 120px;
  }
  #btn {
    margin: 80px;
  }
}

/* Estilos para pantallas pequeñas (por ejemplo, tablets) */
@media only screen and (max-width: 991px) {
  #titulo {
    font-size: 50px;
  }
  #text-behind, #text-front, #text-behind-blur {
    font-size: 100px;
  }
  #btn {
    margin: 60px;
  }
}



:root {
  --headline-color: white;
  --background-color: #000000;
  --text-color: rgba(255, 255, 255, 0.5);
}

html, body {
  margin:0;
  padding: 30px;
  overflow-x: hidden;
  background-color: var(--background-color);
  font-family: 'Open Sans', sans-serif;
  color: var(--text-color);
  text-align: center;
}

#titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 4%;
  left: 0;
  right: 0;
  bottom: 100%;
  margin: 0;
  padding: 0;
}

#container3D {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.headline-container{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

#text-behind, #text-front, #text-behind-blur {
  font-family: 'Roboto', sans-serif;
  position: absolute;
  text-align: center;
  font-size: 140px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 10px;
  line-height: 0.8;
}

#text-behind {
  color: var(--headline-color);
  z-index: 1;
}

#text-behind-blur {
  color: var(--headline-color);
  filter: blur(7.5px);
  -webkit-filter: blur(7.5px);
  z-index: 0;
}

#text-front {
  color: transparent;
  -webkit-text-stroke: 2px var(--headline-color);
  -webkit-text-stroke: 2px var(--headline-color);
  z-index: 3;
}


#btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 70%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
}

#btn {
  padding: 8px 16px;
  border: 2px solid white;
  outline: none;
  color: #FFF;
  cursor: pointer;
  position: absolute;
  z-index: 4;
  border-radius: 17px;
  font-family: 'Open Sans', sans-serif;
}

#btn::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  left: 0;
  top: 0;
  border-radius: 14px;
}
#btn::before {
  content: "";
  background: linear-gradient(
    45deg,
    #FF0000, #FF7300, #FFFB00, #48FF00,
    #00FFD5, #002BFF, #FF00C8, #FF0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height:  calc(100% + 4px);
  filter: blur(8px);
  animation: glowing 20s linear infinite;
  transition: opacity .3s ease-in-out;
  border-radius: 14px;
  opacity: 0;
}

@keyframes glowing {
  0% {background-position: 0 0;}
  50% {background-position: 400% 0;}
  100% {background-position: 0 0;}
}
#btn:hover::before {
  opacity: 1;
}

#btn:active:after {
  background: #000000;

}

#btn:active {
  color: #FFF;
  font-weight: normal;
}

#closefriends {
  display: none;
  padding: 3px 16px;
  border: 2px solid transparent; 
  outline: none;
  background-color: rgb(114, 224, 83); 
  color: #FFF; 
  cursor: pointer;
  position: absolute;
  z-index: 4;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  position: absolute;
  top: calc(50% - 20%); 
  left: 50%; 
  transform: translate(-50%, -50%); 
}

#compartir {
  display: none;
  padding: 3px 16px;
  border: 1px solid white; 
  outline: none;
  background-color: rgb(49, 109, 237); 
  color: #FFF; 
  cursor: pointer;
  position: absolute;
  z-index: 4;
  border-radius: 6px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%); 
 
}
